--
-- PostgreSQL database dump
--

-- Dumped from database version 12.2
-- Dumped by pg_dump version 12.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.groups (
    uid uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.groups OWNER TO postgres;

--
-- Name: usergroups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usergroups (
    username character varying NOT NULL,
    "group" character varying,
    uid uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    group_uid uuid,
    user_uid uuid
);


ALTER TABLE public.usergroups OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    login character varying(100) NOT NULL,
    password character varying(100) NOT NULL,
    age integer NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    uid uuid DEFAULT public.uuid_generate_v4() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.groups (uid, name) FROM stdin;
e82c34c0-5d66-11ea-86a0-3f94e445a67a	newGroup
08406a90-5d69-11ea-bdbc-a331c3bbe0d6	newGroupUPDATED
0a9d6d60-5d69-11ea-bdbc-a331c3bbe0d6	newGroupUPDATED2
0d937be0-5d69-11ea-bdbc-a331c3bbe0d6	newGroupUPDATED23
\.


--
-- Data for Name: usergroups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usergroups (username, "group", uid, group_uid, user_uid) FROM stdin;
newUSER	\N	fca351e0-5d75-11ea-b594-698190895485	\N	\N
newUSER	newGroup	35fe3e00-5d76-11ea-b7c0-77ed7d106ae5	\N	\N
newUSER	newGroup	36e828d0-5d76-11ea-b7c0-77ed7d106ae5	\N	\N
newUSER	newGroup	7012a990-5d8b-11ea-ae9b-356d7dca2f59	\N	\N
newUSER	newGroup	70d22900-5d8b-11ea-ae9b-356d7dca2f59	\N	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: users login; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT login UNIQUE (login);


--
-- Name: users uid; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uid PRIMARY KEY (uid);


--
-- Name: fki_group; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX fki_group ON public.usergroups USING btree ("group");


--
-- Name: fki_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX fki_user ON public.usergroups USING btree (user_uid);


--
-- Name: fki_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX fki_username ON public.usergroups USING btree (username);


--
-- Name: login_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX login_index ON public.users USING btree (login varchar_ops);


--
-- Name: name_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX name_index ON public.groups USING btree (name);


--
-- Name: uid_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uid_index ON public.groups USING btree (uid);


--
-- Name: usergroups group; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usergroups
    ADD CONSTRAINT "group" FOREIGN KEY (group_uid) REFERENCES public.groups(uid) NOT VALID;


--
-- Name: usergroups user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usergroups
    ADD CONSTRAINT "user" FOREIGN KEY (user_uid) REFERENCES public.users(uid) NOT VALID;


--
-- PostgreSQL database dump complete
--

